.main-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.box.middle {
    width: 60%;
}

@media (max-width: 600px) {
    .main-container {
        flex-direction: column;
    }

    .box.middle {
        order: 1;
    }

    .left {
        order: 2;
    }

    .right {
        order: 3;
    }
}

#navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#navbar li {
    margin-right: 1em;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.pictures img {
    width: 100%;
    height: auto;
}