:root {
    --accent-color: red;
    --background-color: white;
    --foreground-color: black;
}

body {
    font-family: monospace;
    font-size: 14px;

    background-color: var(--background-color);
    color: var(--foreground-color);
}

a {
    color: var(--accent-color);
}

hr {
    border: none;
    background-color: var(--accent-color);
    
    height: 1px;
    
    /* border-style: double; */
    /* color: black; */
}

code {
    font-family: monospace;
    border: 1px solid var(--accent-color);
    padding: 4px;
    white-space: pre;
    display: inline-block;
}

img {
    padding: 4px;
    border-style: double;
    max-width: 95%;
    /* border: 1px solid red; */
}

.redacted {
    background-color: var(--foreground-color);
}

.main-container {
    display: flex;
    gap: 32px;
}

.left {
    flex: 0 0 auto;
}

.middle {
    flex: 1;
}

.right {
    flex: 0 0 25%;
}

@media (max-width: 800px) {
    .main-container {
        flex-direction: column;
    }

    .middle {
        order: 1;
        width: 100%;
    }

    .right {
        order: 2;
    }

    .left {
        order: 3;
    }
}

#navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#navbar li a {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
