<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>Blog</title>
</head>
<body>
    {% include 'navbar.html' %}

    <!-- <div class="box left">
    {% for article in articles %}
        <h1>{{ article.title }}</h1>
        
        <div>Last updated on <strong>{{ article.date }}</strong></div>

        <div>{{ article.content | safe }}</div>

        <hr>
    {% endfor %}
    </div> -->

    <h1>Blog</h1>

    <h2>Articles</h2>
    <ul>
        {% for article in articles %}
            <li>[{{ article.date }}] <a href="{{ url_for('blog.article', slug=article.slug) }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>

    <h2>Tags</h2>
    <ul>
        {% for tag in all_tags %}
            <li><a href="{{ url_for('blog.tag', tag=tag) }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>

    {% include 'footer.html' %}
</body>
</html>