<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>{{ metadata["title"] }}</title>
</head>
<body>
    {% include 'navbar.html' %}

    <h1>{{ metadata["title"] }}</h1>
    
    <div>Last updated on <strong>{{ metadata["date"] }}</strong></div>

    <div>{{ content | safe }}</div>
    
    <strong>Related:</strong>
    {% for tag in metadata["tags"] %}
        <a href="{{ url_for('blog.tag', tag=tag) }}">{{ tag }}</a>
    {% endfor %}

    {% include 'footer.html' %}
</body>
</html>