<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>Secret</title>
</head>
<body>
    {% include 'navbar.html' %}

    <h1>Secret</h1>

    <p>This page allegedly gives you access to some pirated content, which I allegedly don't want to have publicly available (avoiding illegalities).</p>
    
	<p>Enter the secret password (it should not be findable in the source code)</p>
	<form action="{{ url_for('main.login') }}" method="post">
		<input type="password" name="password" required>
	</form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    {% include 'footer.html' %}
</body>
</html>