<ul id="navbar">
    <li><a href="{{ url_for('main.home') }}">home</a></li>
    <li><a href="{{ url_for('blog.articles') }}">blog</a></li>
    <li><a href="{{ url_for('main.projects') }}">showroom/graveyard</a></li>
    <li><a href="{{ url_for('blog.article', slug='meals') }}">cooking</a></li>
    <li><a href="{{ url_for('blog.article', slug='media') }}">media</a></li>
    <li><a href="{{ url_for('main.login') }}">secret</a></li> ||
    <li><a href="{{ url_for('zinc95.main') }}">-\zinc95/-</a></li>
</ul>

<hr>
