<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>Projects</title>
</head>
<body>
    {% include 'navbar.html' %}

    <h1>Projects</h1>

    <p>This page has all my projects that I care about</p>

    <h2>Raycasting engine written in C with SDL2</h2>
    <p><a href="">GitHub repo</a></p>
    <img src="/static/projects/raycaster.png" alt="raycaster">
    <img src="/static/projects/raycaster2.png" alt="raycaster" width=640px>
    <img src="/static/projects/raycaster3.png" alt="raycaster" width=640px>
    <hr>

    <h2>Puzzle game written in C with SDL2</h2>
    <p><a href="">GitHub repo</a></p>
    <img src="/static/projects/tracking_dog.png" alt="tracking dog" width=640px>

    {% include 'footer.html' %}
</body>
</html>