<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>Showroom/Graveyard</title>
</head>
<body>
    {% include 'navbar.html' %}

    <h1>Showroom/Graveyard</h1>

    <p>This page contains some creative projects that haven't gotten large enough to warrant their own page.</p>
    <p>Both finished and abandoned projects are on here.</p>

    <h2>Drawing</h2>

    <h2>Programming</h2>

    <h3>Raycasting engine written in C with SDL2 (abandoned)</h2>
    <img src="/static/projects/raycaster.png" alt="raycaster">
    <img src="/static/projects/raycaster2.png" alt="raycaster" width=640px>
    <img src="/static/projects/raycaster3.png" alt="raycaster" width=640px>
    <p><a href="">GitHub repo</a></p>
    <hr>

    <h3>Puzzle game written in C with SDL2 (abandoned)</h2>
    <img src="/static/projects/tracking_dog.png" alt="tracking dog" width=640px>
    <p><a href="">GitHub repo</a></p>
    <p>This game is kind of a remake of a flash game that was part of an educational package for Dutch elementary schools.</p>

    {% include 'footer.html' %}
</body>
</html>