<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>stuff</title>
</head>
<body>
    {% include 'navbar.html' %}

    <h1>You have entered the real secret page</h1>
    <h2>It has piracy stuff</h2>

    <p>
        I made a Python script that generates magnet links from a sqlite database a reddit user scraped from
        rarbg over the years. Since 2004content's backup got taken down by GitHub, I thought I would make my own text backup of magnet links.
    </p>

    <p>
        You can either open the files directly in your browser and use "Find in page..." to find torrents
        or download the file and open it in your favourite text editor. Vim seems to be the fastest.
        Also in your search use periods instead of spaces because of torrent naming conventions.
    </p>

    <p>By category:</p>
    <ul>
        <li><a href="/static/rarbg/ebooks.txt">ebooks</a></li>
        <li><a href="/static/rarbg/games_pc_iso.txt">games_pc_iso</a></li>
        <li><a href="/static/rarbg/games_pc_rip.txt">games_pc_rip</a></li>
        <li><a href="/static/rarbg/games_ps3.txt">games_ps3</a></li>
        <li><a href="/static/rarbg/games_ps4.txt">games_ps4</a></li>
        <li><a href="/static/rarbg/games_xbox360.txt">games_xbox360</a></li>
        <li><a href="/static/rarbg/movies_bd_full.txt">movies_bd_full</a></li>
        <li><a href="/static/rarbg/movies_bd_remux.txt">movies_bd_remux</a></li>
        <li><a href="/static/rarbg/movies_x264_3d.txt">movies_x264_3d</a></li>
        <li><a href="/static/rarbg/movies_x264_4k.txt">movies_x264_4k</a></li>
        <li><a href="/static/rarbg/movies_x264_720.txt">movies_x264_720</a></li>
        <li><a href="/static/rarbg/movies_x264.txt">movies_x264</a></li>
        <li><a href="/static/rarbg/movies_x265_4k_hdr.txt">movies_x265_4k_hdr</a></li>
        <li><a href="/static/rarbg/movies_x265_4k.txt">movies_x265_4k</a></li>
        <li><a href="/static/rarbg/movies_x265.txt">movies_x265</a></li>
        <li><a href="/static/rarbg/movies_xvid_720.txt">movies_xvid_720</a></li>
        <li><a href="/static/rarbg/movies_xvid.txt">movies_xvid</a></li>
        <li><a href="/static/rarbg/movies.txt">movies</a></li>
        <li><a href="/static/rarbg/music_flac.txt">music_flac</a></li>
        <li><a href="/static/rarbg/music_mp3.txt">music_mp3</a></li>
        <li><a href="/static/rarbg/software_pc_iso.txt">software_pc_iso</a></li>
        <li><a href="/static/rarbg/tv_sd.txt">tv_sd</a></li>
        <li><a href="/static/rarbg/tv_uhd.txt">tv_uhd</a></li>
        <li><a href="/static/rarbg/tv.txt">tv</a></li>
    </ul>

    <p>If you can't find what you're looking for here, look here:</p>
    <ul>
        <li><a href="">womp womp</a></li>
    </ul>

    {% include 'footer.html' %}
</body>
</html>