<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>zinc95</title>
</head>
<body>
    {% include 'navbar.html' %}

	<h1>zinc95</h1>

    <p>A fantasy PC with 90's era capabilities</p>
    <ul>
        <li>Display: 640x480 256 color display</li>
        <li>Code: <a href="https://www.lua.org/">Lua</a></li>
    </ul>

    <img src="/static/zinc95/code_editor.png" alt="Code Editor screenshot">
    <img src="/static/zinc95/sprite_editor.png" alt="Sprite Editor screenshot">

    <br>

	<a href="">Download</a>|<a href="">Browse Games</a>|<a href="">Docs</a>|<a href="">GitHub Repository</a>

    {% include 'footer.html' %}
</body>
</html>